// font size:
// https://sjorswijsman.medium.com/3-easy-css-tricks-for-responsive-websites-i-use-in-every-project-68ec334a1522

html {
  font-size: calc(60% + 0.8vmin);  // will font size will auto shrink for small screens
}

* {
  font-size: 1rem;  // elements like inputs don’t use the HTML font-size
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.horizontal-start {
  display: flex;
  justify-content: flex-start;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.vertical-top {
  display: flex;
  align-items: flex-start;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.vertical-baseline {
  display: flex;
  align-items: baseline;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer !important;
}

.non-clickable {
  cursor: default !important;
}

.disabled {
  cursor: default !important;
  pointer-events: none !important;
}
